$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '../webfonts';

//body
$body-margin: 0 0 7.0rem;
$body-font-family: 'Roboto Mono', monospace;

//card
$card-margin: 1rem 0;
$card-margin-bottom: 0.25rem;

//footer
$footer-padding: .5rem 1rem;
$footer-border-top: 0.0075em solid #ddd6d6;
