<p></p>
<h4>{{ tabTitle }}</h4>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Event</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Xday, X Xxx 2018</td>
      <td>Lodgement of the prospectus with ASIC</td>
    </tr>
    <tr>
      <td>Xday, X Xxx 2018</td>
      <td>Offer expected to open</td>
    </tr>
    <tr>
      <td>Xday, X Xxx 2018</td>
      <td>Broker Firm Offer expected to close</td>
    </tr>
    <tr>
      <td>Xday, X Xxx 2018</td>
      <td>Priority & General Offer expected to close</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>