<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ cardLabel }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            As an eligible Priority Applicant, you are invited to subscribe for an amount of Unis holding in Cadence Capital Investment Funds for Ordinary Shares held at the Record Date, please refer to said section in the Prospectus for full details of the Entitlement Offer.<br><br>
            If you are in doubt as to how to deal with this online Application, please contact your accountant, solicitor, stockbroker or other personal adviser without delay. The Prospectus contains information relevant to a decision to invest in Units and you should read the entire Prospectus carefully before applying. Defined terms in the Prospectus have the same meaning in this online Application.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
