<p></p>
<h4>{{ tabTitle }}</h4>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Minimum Subscription</th>
        <th scope="col">Maximum Subscription (excluding Oversubscription)</th>
        <th scope="col">Maximum Subscription (including Oversubscription)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Total number of new Shares to be issued after the Offer</td>
        <td>7,500,000</td>
        <td>150,000,000</td>
        <td>250,000,000</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>

