<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ pageTitle }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Due to legal restrictions, access to these webpages is only intended for access by persons within Australia and New Zealand. These webpages do not constitute an offer of securities in any place in which, or to any person to whom, it would not be lawful to make such an offer.
          </p>
          <form [formGroup]="countryform" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group" [ngClass]="{
              'has-success': country.valid && (country.dirty || country.touched),
              'has-danger': country.invalid && (country.dirty || country.touched)}">
              <label for="country">Select Country</label>
              <select class="form-control" id="" aria-describedby="textHelp" placeholder="Choose your country of residence" formControlName="country">
                <option value="">Choose your country of residence</option>
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
              </select>
              <div class="form-control-feedback" *ngIf="country.errors && (country.dirty || country.touched)">
                <p *ngIf="country.errors.required">Country is required</p>
              </div>
            </div>
            <button type="submit" class="btn btn-primary"><!--(click)="onSubmit()" [routerLink]="['/prospectus']"-->
              Submit <i class="fas fa-share-square"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
