<p></p>
<h4>{{ tabTitle }}</h4>
<p class="card-text">
  Cadence Opportunities Fund has lodged this Prospectus with the Australian Securities and Investments Commission (ASIC) on X Xxx 2018 in relation to an initial public offering (Offer) of its ordinary shares (Shares).<br><br>Offer is currently expected to open on Tuesday, 1 May 2018 and is expected to remain open until 5:00pm AEST on Xday, X Xxx 2018. The company reserves the right to vary the dates and time of the Offer, including to close the Offer early or to accept late applications (either generally or in particular cases) without notification.
</p>