<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ cardLabel }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            We believe that a combination of both Fundamental and Technical analysis, along with a disciplined stock entry/exit strategy, are key to producing above market investment returns over time.
          </p>
          <div class="flex-row">
            <div class="p-2 float-sm-left">
              <button type="button" class="btn btn-primary" [routerLink]="['/']">
                Exit <i class="fas fa-times-circle"></i>
              </button>
            </div>
            <div class="p-2 float-sm-right">
              <button type="button" class="btn btn-primary" (click)="onSubmit()" [routerLink]="['/login']">
                Next <i class="fas fa-arrow-circle-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
