<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Cadence Capital Limited (ASX:CDM)</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
              Cadence Capital Limited is a Listed Investment Company (LIC) that invests in listed equities, with the aim of producing above market risk-adjusted returns over time. CDM listed on the ASX in December 2006 and currently has over $400m of Funds Under Management. 50% of our shareholders are Self Managed Super Funds (SMSF).<br>
              You can invest in CDM by buying shares on the ASX (ASX:CDM).
          </p>
          <div class="flex-row">
            <div class="p-2 float-sm-left">
              <button type="button" class="btn btn-primary" [routerLink]="['/']">Exit</button>
            </div>
            <div class="p-2 float-sm-right">
              <button type="button" class="btn btn-primary" (click)="onSubmit()" [routerLink]="['/login']">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>