<p></p>
<h4>Who can invest?</h4>
<p class="card-text">
  The Offer is available to applicants with a registered address in Australia and New Zealand.
</p>

<p></p>
<h4>What is the minimum number of securities I can apply for?</h4>
<p class="card-text">
  Applications under the General Offer or Broker Firm Offer must be for a minimum of $2,100 which is equal to 1,500 <strong>PTrackERS</strong> (at the Issue Price of $1.40 per <strong>PTrackERS</strong>). A larger number of <strong>PTrackERS</strong> may be applied for in multiples of 100 shares.<br><br>

  The minimum subscription amount payable by an Applicant under the Entitlement Offer is the Issue Price (of $1.40 per PTrackERS) multiplied by the lower of:
</p>
<ul>
  <li>
    1,500 <strong><em>PTrackERS</em></strong>; or
  </li>
  <li>
    the number of <strong><em>PTrackERS</em></strong> being offered to the Applicant (being an Eligible Shareholder under the Entitlement Offer).
  </li>
</ul>
