<p></p>
<h4>Frequently asked questions</h4>
<div class="card">
  <div class="card-body">
    <accordion>
      <accordion-group heading="Who can invest?">
          <p class="card-text">
            The Offer is available to applicants with a registered address in Australia and New Zealand.
          </p>
      </accordion-group>
      <accordion-group heading="What is the minimum number of securities I can apply for?">
        <p class="card-text">
          Applications under the General Offer or Broker Firm Offer must be for a minimum of $ value which is equal to X <strong>Units</strong> (at the Issue Price of $X per <strong>Units</strong>). A larger number of <strong>Units</strong> may be applied for in multiples of XX shares.<br><br>

          The minimum subscription amount payable by an Applicant under the Entitlement Offer is the Issue Price (of $X per Units) multiplied by the lower of:
        </p>
        <ul>
          <li>
            X <strong><em>Units</em></strong>; or
          </li>
          <li>
            the number of <strong><em>Units</em></strong> being offered to the Applicant (being an Eligible Shareholder under the Entitlement Offer).
          </li>
        </ul>
      </accordion-group>
    </accordion>
  </div>
</div>


